.top
{
    text-align: center;
    color: black;
}

.stuffbutton {
    font-family: arial;
    color: #59E3FF !important;
    font-size: 14px;
    text-shadow: 1px 1px 0px #FC0000;
    box-shadow: 1px 1px 1px #F90213;
    padding: 10px 25px;
    border-radius: 10px;
    border: 2px solid #3866A3;
    background: #000000;
  }
  .testbutton:hover {
    color: #14396A !important;
    background: #FF1C2B;
  }
  